<div id="aboutContainer">
	<img src="/assets/about2.jpeg" id="aboutImg" alt="aboutUs" class="image">
	<div class="overlay">
		<div class="aboutTxt">
		  <h1>About Us</h1>
		  <p>We are an internet-based, convenience-focussed on-line grocery provider designed to take the hassle out of getting the everyday items you depend on.<br /></p>
		  <p>Sign-up today to take the hassle out of getting everyday goods and start saving time and money.</p>
		</div>
	</div>
</div>
