<title>New Product| Grocery Store</title>
<div class="container">
	<h1>New Product Listing</h1>
	<%= render 'form', product: @product %>
	<%= link_to 'Back', products_path, class:"btn btnRed" %>
</div>
